# Copyright (c) 2026 Vilhelm Engström
#
# SPDX-License-Identifier: Apache-2.0

menu "Ethernet Ring Protection Switching"

config ERPS
	bool "Enable Ethernet ring protection switching"
	default y
	depends on DT_HAS_ITU_T_ERPS_NODE_ENABLED && NETWORKING
	select NET_VLAN
	help
	  Ethernet ring protection switching provides recovery switching
	  for Ethernet rings while ensuring there are no loops in the
	  network. Select y to enable this feature.

if ERPS

config ERPS_INIT_PRIORITY
	int "ERPS initialization priority"
	default 61
	help
	  ERPS link initialization priority.

module = ERPS
module-str = erps
source "subsys/logging/Kconfig.template.log_config"

endif

endmenu
